body{
   background-color: rgb(59, 55, 55);
   margin: 0;
padding: 0;
background-image: url('/meme-imgs/backGround.png');
background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;  
}
.footer{
text-align: center; 
   background-color: rgb(133, 121, 121);
   color: rgb(196, 184, 184);
padding: 12px;
position: fixed;
bottom:0;
right: 0;
left:0;
}


.header{
   display: flex;
   align-items: center;
   justify-content: space-between;

   background: linear-gradient(0.25turn, #6b7885, #2b9ebb);
   color: rgb(196, 184, 184);

   padding: 1em 2em;
   margin-bottom: 2em;

   & button{
      background-color: rgb(133, 121, 121);
      padding: 1.2vw;
      border: none;
      border-radius: 20px;
      font-size: 1.1em;
   }
   & button:hover{
      background-color: rgb(109, 98, 98);
      cursor: pointer;
   }
}
.logo{
   min-width: 150px;
   width: 20vw;
}
.color-btn {
  position: relative;
  display: inline-block;
  background: #f0f0f0;

}
.color {
   
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.download{
   display: inline-block;
}

h1{
   text-align: center;
}
.about-txt{
   text-align: center;
   font-size: large;
   line-height: 2;
}
.shaked{
   width: 40vw;
   height: auto;
   display: block;
   margin: auto;
}