body {
    background-color: rgb(59, 55, 55);
    margin: 0;
    padding: 0;
    background-image: url('/meme-imgs/backGround.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
a {
  color: inherit;             
  text-decoration: none;     
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;         
}


.color {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.download {
    display: inline-block;
}

h1 {
    text-align: center;
}
.gallery {
   h1{
grid-column: 1/ -1;      
   }
}
.about-txt {
    text-align: center;
    font-size: large;
    line-height: 2;
}
.shaked {
    width: 40vw;
    height: auto;
    display: block;
    margin: auto;
}
