.hidden{
   display: none !important;
}
.grid{
   display: grid;
}
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.font-asm{
   padding: 0.4em;
}

.full-line {
    grid-column: 1 / -1;
}

