


.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding-inline: 2em;
    min-height: 59vh;

}


.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-height: 80vh;
    
}


.rights {
    margin-bottom: 3em;
}
