@media (max-width: 700px) {
}

/* Small BP */

@media (min-width: 860px) {
   .gallery {
        grid-template-columns:  1fr 1fr 1fr 1fr
   }
   .editor{
      flex-direction: row;
   }
   .btn{
    padding: 0.7em 1em;
margin-bottom:1em;
   }
   #text-input{
      margin-bottom: 1em;
   }
   .font-modifier{
      padding: 1.5em;
   }
   .search-meme-input{
      padding-inline-start: 1em;
      padding-inline-end: 3em;
   }

}

/* Large BP */

@media (min-width: 1080px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
                
    }
}
