@media (max-width: 700px) {
}

/* Small BP */

@media (min-width: 860px) {
   .gallery {
        grid-template-columns:  1fr 1fr 1fr 1fr
   }
   .editor{
      flex-direction: row;
      gap:0.5em;
     
   }
   .btn{
margin-bottom:1em;
font-size: 1em;
padding: 0.5em;
   }
   #text-input{
      margin-bottom: 1em;
   }
   .font-modifier{
      padding: 1em;
   }
    .search-meme{
      gap: 2em;
   }
   .search-meme-input{
     width: 15em;
   }
   .operations{
       min-height: 440px;
   }
   .canvas-container{
      min-width: 440px;
   }

}

/* Large BP */

@media (min-width: 1080px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 
    }
    .editor{
      gap:4em;

    }
    .search-meme-input{
     width: 22em;
   }

}
