.btn {
    margin-bottom: 0.5em;
    margin-inline: 0.5vw;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
   padding: 0.2em;
    background-color: #50a4b1; 
    color: #252525; 

    transition: background-color 0.3s ease, transform 0.1s ease; 
     
}

.btn:hover {
    background-color: #6fbcd3; 
    transform: translateY(-2px); 
}

.btn:active {
    background-color: #6bcea0; 
    transform: translateY(0); 
}
