
.canvas-container {
    width: 40vw;
    height: auto;
    min-width: 310px;
    min-height: 310px;
    max-width: 470px;
    max-height: 470px;

    object-fit: cover;
    margin: 1em;
    border-radius: 20px;
}

.meme-canvas {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}