.footer {
   box-sizing: border-box;
    text-align: center;
    background-color: rgb(133, 121, 121);
    color: rgb(196, 184, 184);
    padding: 12px;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}