
.gallery .meme-img{
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 20px;
}
.gallery .meme-img:hover{
   cursor: pointer;
   opacity: 0.7;
   transform: translateY(-3px); 
}
