.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    left: 0;
    right: 0;

    background: linear-gradient(0.25turn, #6b7885, #2b9ebb);
    color: rgb(196, 184, 184);

    padding: 0.5em 2em;
    margin-bottom: 2em;
}
.menu-button {
    background-color: rgb(133, 121, 121);
    padding: 1.2vw;
    margin-inline-start: 1vw;
    border: none;
    border-radius: 20px;
    font-size: 1.1em;
}
.menu-button:hover {
    background-color: rgb(109, 98, 98);
    cursor: pointer;
}
.btn-toggle-menu{
   padding: 0.3em 1em;
}
.logo {
    min-width: 150px;
    width: 20vw;
}
.logo:hover{
   cursor: pointer;
}