

.search-meme{
   display: flex;
   place-items: center;
   gap: 1em;
   margin-bottom: 1em;
   padding: 1em;
   background-color: rgb(59, 56, 56); 
}
.search-meme-input{
   height: 2em;
   width: 10em;
   border-radius: 1em;
   background-color: #d0d8da;
   align-self: center;
}
.keyword{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color:#2b9ebb;
  cursor: pointer;
  margin-inline-end:2vw;
}
.keyword:hover{
   transform: translateY(-2px); 
}
.keyword:active {
    transform: translateY(0); 
  color:#176174;

}

.keyword-reset{
   background-color: #d0d8da;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.25em;
    height: fit-content;
    padding: 0.2em;
    color: #252525; 

    transition: background-color 0.3s ease, transform 0.1s ease;

}
.keyword-reset:hover{
   background-color: #d31313; 
   transform: translateY(-2px); 
}
.keyword-reset:active {
   background-color: #bb0f0f; 
    transform: translateY(0); 
}
