/* SETUP */
@import url('/styles/setup/vars.css');
@import url('/styles/setup/typography.css');

/* BASICS */
@import url('/styles/basics/base.css');
@import url('/styles/basics/layout.css');
@import url('/styles/basics/helpers.css');

/* COMPONENTS */
@import url('/styles/components/btn.css');
@import url('/styles/components/gallery-img.css');


/* MQ */
@import url('/styles/setup/mq.css');