
/* BASICS */
@import url('basics/base.css');
@import url('basics/layout.css');
@import url('basics/helpers.css');

/* COMPONENTS */
@import url('components/btn.css');
@import url('components/gallery-img.css');


/* MQ */
@import url('setup/mq.css');