
/* BASICS */
@import url('basics/base.css');
@import url('basics/layout.css');
@import url('basics/helpers.css');

/* COMPONENTS */
@import url('components/btn.css');
@import url('components/gallery-img.css');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/search-meme.css');
@import url('components/canvas.css');
@import url('components/operations.css');
@import url('components/keywords.css');


/* MQ */
@import url('setup/mq.css');